<h1>Editing movie</h1>

<%= render 'form' %>
<%= render 'thumbnails', :local => @movie %>

<% @movie.system_files.each do |f| %>
 <a href="<%="file:///"+File.expand_path(f.path)%>" target ="_blank">Open <%= f.name  %></a>
    <%= link_to 'Open in VLC', system_file_path(f), :remote => true %>
<% end %>

<%= link_to 'Destroy', @movie, :confirm => 'Are you sure?', :method => :delete %>

<%= link_to 'Back', movies_path %>
