<script type="text/javascript" charset="utf-8">
$(document).ready(function()
{
	updatestatus();
	scrollalert();
});
var totalItems=<%= @page.to_i*4 %>;
var nb_item =<%= Movie.all.count%>;
function updatestatus(){
	//Show number of loaded items
	$('#status').text('Loaded '+totalItems*3+' Items');
}
function scrollalert(){
	var scrolltop=$('#scrollbox').attr('scrollTop');
	var scrollheight=$('#scrollbox').attr('scrollHeight');
	var windowheight=$('#scrollbox').attr('clientHeight');
	var scrolloffset=800;
	if(scrolltop>=(scrollheight-(windowheight+scrolloffset)) && totalItems*6<nb_item)
	{
		//fetch new items
		$('#status').text('Loading more items...');
        $.ajax({
           type: "GET",
           url: "movies/row",
           data: "page="+(++totalItems),
           context: $(this),
           success: function(msg){
               s = msg
             	$('#content').append(s);
               //totalItems += 1;
               updatestatus();
           }
         });
	}
	setTimeout('scrollalert();', 1500);
}
  </script>

<h1>Listing movies</h1>
<%= link_to 'Skip 120', movies_path(:offset=>20) %>
<div id="container">
	<div id="scrollbox" style="height:700px;width:990px;overflow:auto; overflow-x:hidden;" >
		<div id="content" >
		</div>
	</div>
	<p><span id="status" ></span></p>
</div>

<div class="clear"></div>
<%= will_paginate @movies %>
<div class="clear"></div>
<%= link_to 'New Movie', new_movie_path %>
