<h1>Listing movies</h1>

<% @movies.each_with_index do |movie,i| %>
    <div class="rounded-corners g160" style="height:200px">
    <h3 style="text-align:center"><%= link_to truncate(movie.name, :length => 15,:omission =>  "..."), edit_movie_path(movie) %></h3>
      <%= unless movie.thumbnails[2].nil? then link_to image_tag("#{movie.thumbnails[2].big_path}", :width => 145, :height => 90), edit_movie_path(movie) end %>
      <div class="g80 inside">
        <% l = movie.fancy_length %>
        <% unless l[:hour] == "0" %>
        <h2 style="display:inline;margin-left:5px"><%= l[:hour] %></h2>H<br>
            <% end %>
        <% unless l[:min] == "0" %>
        <h2 style="display:inline;margin-left:5px"><%= l[:min] %></h2>M<br>
            <% end %>
            <% unless l[:sec] == "0" %>
        <h2 style="display:inline;margin-left:5px"><%= l[:sec] %></h2>S<br>
            <% end %>
      </div>
      <div class="g80" style="height:20px">
    <span style="float:right"><%= link_to image_tag("vlc.png"), system_file_path(movie.system_files.first), :remote => true %></span>
      </div>
  </div>
    <% if (i+1)%6 == 0 and i != 0 %>
      <div class="clear">&nbsp;</div>
    <% end %>
<% end %>


<div class="clear"></div>
<%= will_paginate @movies %>
<div class="clear"></div>
<%= link_to 'New Movie', new_movie_path %>
