<% @movies.each_with_index do |movie,i| %>

    <script type="text/javascript" charset="utf-8">
    function updatestatus(){
	//Show number of loaded items
	    $('#status').text('Loaded '+ nb_loaded_items +' Items');
    }
    $(document).ready(function()
    {
        $("#<%= movie.id %>").hide();
        //$("#<%= movie.id %>").html('<%= image_tag "loading.gif", :width =>130 %>');
        $.ajax({
            type: "GET",
            url: "<%= movie_thumb_path(movie)%>",
            context: $(this),
           success: function(msg){
             	$("#<%= movie.id %>").html(msg).fadeIn();
               nb_loaded_items += 1;
               updatestatus();
               <%=if i==@movies.count-1 then 'loading_lock = false;' end%>
           }
         });
    });
      </script>
    <div id="<%= movie.id %>" class="g160 <%=if i==0 then ' inside' end%> rounded-corners ui-widget-content" style="height:200px<%=if i==0 then ';margin-left:0px;' end%>">
      </div>

<% end %>
<div class="clear">&nbsp;</div>