<h1>Listing views</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @views.each do |view| %>
  <tr>
    <td><%= view.name %></td>
    <td><%= link_to 'Show', view %></td>
    <td><%= link_to 'Edit', edit_view_path(view) %></td>
    <td><%= link_to 'Destroy', view, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New View', new_view_path %>
