<div class="g160 inside" style="">
    <%= render :partial => 'movies/bar', :local => params %>
    <%= render :partial => 'views/bar', :local => params %>
    <%= render :partial => 'tags/bar', :local => params %>
    <%= render :partial => 'dropbox/bar', :local => params %>
    <%= render :partial => 'system_files/bar', :local => params %>
  </div>