<script type="text/javascript" charset="utf-8">
    $(document).ready(function()
    {
        var availableTags = [
            <% s="" %>
			<% @tags.each{ |t| s+= '"' + t.name + '",'} %>
                <%= s.html_safe %>
		];
		$( "#tag" ).autocomplete({
			source: availableTags
		});
        $( ".draggable" ).draggable({
			cursor: "move",
			cursorAt: { top: 0, left: 150 },
			helper: function( event ) {
				return $( "<div class='ui-widget-header' style=\"width:300px\"><%= @movie.name %></div>" );
			}
		});
        $( '.droppable').each(function(){
            $(this).droppable({
                greedy: true,
                hoverClass: "ui-state-active",
                drop: function( event, ui ) {

                    d = "tag="+$(this).attr('id') +"&movie="+ui.draggable.attr('id');
                    $.ajax({
                       type: "POST",
                       url: "tagging_room/tag",
                       data: d,
                        context: $(this),
                       success: function(msg){
                         $( this )
                            .addClass( "ui-state-highlight" )
                            .find( "div span" )
                            .html( "Tagged" );
                       }
                     });
                }
            });
        });
        $(function() {
            $( "#progressbar" ).progressbar({
                        value:<%= (@tagged_count.to_f/@movies_count.to_f)*100 %>
                    });
            $( "#create_tag_button" ).button();
            $( "#create_tag_button").click(function() {
                $("#col4").prepend(
                        '<div  class="droppable ui-widget-header" id="'+$( "#tag" ).attr('value')+'">'+
          '<p>'+$( "#tag" ).attr('value')+'</p>'+
        '</div>'+
        '<div class="clear">&nbsp;</div>'
                        );
            $( '.droppable').each(function(){
            $(this).droppable({
                greedy: true,
                hoverClass: "ui-state-active",
                drop: function( event, ui ) {

                    d = "tag="+$(this).attr('id') +"&movie="+ui.draggable.attr('id');
                    $.ajax({
                       type: "POST",
                       url: "tagging_room/tag",
                       data: d,
                       context: $(this),
                       success: function(msg){
                         $( this )
                            .addClass( "ui-state-highlight" )
                            .find( "div span" )
                            .html( "Tagged" );
                       }
                     });
                }
            });
        });
            });
        });
    });
</script>

<div id="content">
  <div class="g960">
  <div id="progressbar" class="g480 inside"></div>
  <div class="g480 inside" style="text-align:center"><%= @tagged_count.to_s + " / " + @movies_count.to_s %></div>
  <div class="clear"></div>
  <div class="inside g80" id="col1">
    <%= tag_boxes_for(@tags[0..10]) %>
  </div>
  <div class="g80" id="col2">
    <%= tag_boxes_for(@tags[11..22]) %>
</div>

  <div class="g640">
    <div  class="ui-widget-header inside g320">
            <input id="tag" size="15">
          <button id="create_tag_button">Create tag</button>
    </div>
    <div  class="inside g320">   

      <span style="float:right"><%= link_to "I'm done, Next!", tagging_room_path %></span>
      <span style="float:left;margin-left:30px;margin-right:30px">
        <%= link_to image_tag("vlc.png"), system_file_path(@movie.system_files.first), :remote => true %>
      </span>
        </div>
    <div class="clear">&nbsp;</div>
    <div id="<%= @movie.id %>" class="draggable ui-widget-content" >
      <h1><%= @movie.name %></h1>

    <% @movie.thumbnails.each_with_index do |t, i| %>
        <% if i%2 == 0 %>
            <div class="clear">&nbsp;</div>
        <% end %>
        <%= image_tag "#{t.big_path}", :width => 300 %>
    <% end %>
  </div>
    </div>
  <div class="g80" id="col3">
    <%= tag_boxes_for(@tags[22..32]) %>
  </div>
  <div class="g80" id="col4">
    <%= tag_boxes_for(@tags[33..43]) %>
  </div>
</div>
