<script type="text/javascript" charset="utf-8">
    $(document).ready(function()
    {
        $('.draggable').each(function(){
            $(this).draggable({ revert: "valid", helper: "clone" });
        });
        $( '.droppable').each(function(){
            $(this).droppable({
                greedy: true,
                hoverClass: "ui-state-active",
                drop: function( event, ui ) {

                    d = "tag="+$(this).attr('id') +"&movie="+ui.draggable.attr('id');
                    $.ajax({
                       type: "POST",
                       url: "tagging_room/tag",
                       data: d,
                        context: $(this),
                       success: function(msg){
                         $( this )
                            .addClass( "ui-state-highlight" )
                            .find( "p" )
                            .html( "Tagged with " + $(this).attr('id') );
                       }
                     });
                }
            });
        });
        $(function() {
            $( "#progressbar" ).progressbar({
                        value: 37
                    });
            $( "button" ).button();
            $( "button").click(function() {
                $("#col1").prepend(
                        '<div  class="droppable ui-widget-header" id="'+$( "#tag" ).attr('value')+'">'+
          '<p>'+$( "#tag" ).attr('value')+'</p>'+
        '</div>'+
        '<div class="clear">&nbsp;</div>'
                        );
            $( '.droppable').each(function(){
            $(this).droppable({
                greedy: true,
                hoverClass: "ui-state-active",
                drop: function( event, ui ) {

                    d = "tag="+$(this).attr('id') +"&movie="+ui.draggable.attr('id');
                    $.ajax({
                       type: "POST",
                       url: "tagging_room/tag",
                       data: d,
                        context: $(this),
                       success: function(msg){
                         $( this )
                            .addClass( "ui-state-highlight" )
                            .find( "p" )
                            .html( "Tagged with " + $(this).attr('id') );
                       }
                     });
                }
            });
        });
            });
        });
    });
</script>

<div id="content">
  <div class="g960">
  <div id="progressbar"></div>
    </div>
  <div class="clear"></div>
  <div class="g160" id="col1">
    <% @tags[0..19].each do |t| %>
        <div  class="droppable ui-widget-header" id="<%=t.name%>">
          <p><%= t.name %></p>
        </div>
        <div class="clear"></div>
    <% end %>

  </div>
  <div class="g640">
    <div  class="ui-widget-header inside g320">
            <input id="tag" size="15">
          <button>Create tag</button>
        </div>
    <div  class="ui-widget-header inside g320">
          <p><%= link_to "I'm done, Next!", tagging_room_path %></p>
        </div>
    <div class="clear">&nbsp;</div>
    <div id="<%= @movie.id %>" class="draggable ui-widget-content">
      <h1><%= @movie.name %></h1>
    </div>
    <% @movie.thumbnails.each_with_index do |t, i| %>
        <% if i%2 == 0 %>
            <div class="clear">&nbsp;</div>
        <% end %>
        <%= image_tag "#{t.big_path}", :width => 300 %>
    <% end %>
  </div>
  <div class="g160" id="col2">
    <% unless @tags.size < 20 %>
        <%   @tags[20..40].each do |t| %>
        <div  class="droppable ui-widget-header" id="<%=t.name%>">
          <p><%= t.name %></p>
        </div>
        <div class="clear">&nbsp;</div>
            <% end %>
    <% end %>

  </div>
</div>
